Repository ita-social-projects/horondi_admin, pull requests merged in 2021-08, with the labels that each got.

#923 Add List of Positions Selected and add spiner into positionsField
  src/components/forms/pockets-form/pockets-form.js
  src/configs/table-head-row-titles.js
  src/pages/pockets/pockets-page.js
  src/pages/position/position-page.js
  src/redux/pockets/pockets.operations.js
  src/redux/position/position.operations.js
Labels: Admin, constructor

#929 Fix code smells/use questrion filter
  src/hooks/filters/use-question-filters.js
  src/pages/email-questions/email-questions-list.js
  src/pages/email-questions/tests/email-questions-list.test.js
Labels: Admin

#917 enzym test for contacts-form
  src/components/forms/contacts-form/tests/contacts-form.test.js
  src/components/forms/contacts-form/tests/contacts-form.variables.js
Labels: test, Admin

#934 Update orders method after order migration in admin
  src/pages/order-item/order-item.js
  src/pages/order-item/tabs/recipient.js
  src/pages/orders/orders-page.js
  src/redux/orders/orders.operations.js
  src/utils/order.js
  src/validations/orders/order-form-validation.js
Labels: Admin

#932 Write Enzyme tests for closure page and form
  src/components/forms/closures-form/closures-form.js
  src/components/forms/closures-form/tests/closures-form.test.js
  src/components/forms/closures-form/tests/mockClosures.js
  src/pages/closures/tests/closures.page.test.js
  src/pages/closures/tests/mockClosures.js
  src/redux/back/back.sagas.js
  src/redux/back/tests/back.sagas.test.js
  src/redux/back/tests/back.variables.js
  src/redux/closures/closures.actions.js
  src/redux/closures/closures.operations.js
  src/redux/closures/closures.reducer.js
  src/redux/closures/closures.sagas.js
  src/redux/closures/closures.types.js
  src/redux/closures/tests/closures.actions.test.js
  src/redux/closures/tests/closures.reducers.test.js
  src/redux/closures/tests/closures.sagas.test.js
  src/redux/closures/tests/mockClosures.js
Labels: test, Admin

#938 delete unused regex row bugfix/937
  src/configs/form-regexp.js
Labels: bug, Admin

#941 Enzyme tests for pocket forms
  src/components/forms/pockets-form/tests/mockPockets.js
  src/components/forms/pockets-form/tests/pockets-form.test.js
Labels: test, Admin

#946 add tests for files historyAAction and historyReducer
  src/redux/history/history.sagas.js
  src/redux/history/test/history.actions.test.js
  src/redux/history/test/history.reducer.test.js
  src/redux/history/test/history.sagas.test.js
  src/redux/history/test/history.variables.js
Labels: test, Admin
